section {
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;

        .portfolio__item {
            background: var(--color-bg-variant);
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-image: initial;
            border-radius: 2rem;
            padding: 1.3rem;
            transition: var(--transition);

            &:hover {
                background: transparent;
                border-color: var(--color-primary-variant);
            }

            .portfolio__item__image {
                border-radius: 1.5rem;
                overflow: hidden;

                img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                }
            }

            h3 {
                margin: 1.2rem 0px 2rem;
            }

            .portfolio__item__cta {
                align-items: center;
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                gap: 1rem;
            }
        }

    }
}